/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
/* 
body{
    overflow-x: hidden;
} */

.navbar-toggler{
    box-shadow: none !important;
    border: none !important;
}

#home, #about, #gallery{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    max-width: 260px;
    height: 260px;
}

.img-fit{
    object-fit: cover;
    object-position: center;
}

.col img{
    transition: all .3s ease-in-out;
}

.col img:hover{
    transform: scale(.9);
}

@media (max-width: 359px) {
    #home h2{
        font-size: 20px;
    }

    #home p, #about p, #gallery p{
        font-size: 13px;
    }
}
